@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
